@{
    ViewBag.Title = "Accommodations";
    Layout = "~/Views/Home/_Template.cshtml";
}

<div class="row theme-color-background gradient-75">
    <div class="col-xs-12">
        <p>We have reserved a room block at The Blackstone for your convenience. Please be sure to reserve your room as soon as possible! To take advantage of our room block rate just use the link below:</p>
        <p>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Nusbaum/Weber%20Wedding%5ECHIRH%60NWWNWWA%7CNWWNWWE%60189.00-199.00%60USD%60false%6011/6/15%6011/8/15%6010/7/2015&app=resvlink&stop_mobi=yes" target="_blank">RESERVE A ROOM AT THE BLACKSTONE</a><br />
            <strong>The Blackstone</strong><br/>
            636 South Michigan Avenue<br/>
            Chicago, IL 60605<br/>
            (312) 447-0955<br/>
            <a href="https://maps.google.com?daddr=636+South+Michigan+Avenue+Chicago+IL+60605" target="_blank">Directions</a>
        </p>
        <p>If you plan on driving in for the weekend and will have your car in Chicago you can valet your car at The Blackstone for $62/night. Alternatively you can take advantage of several nearby parking garages that have more economical nightly rates. We have used the garage at <a href="https://spothero.com/chicago-parking/1-e-8th-st" target="_blank">1 E 8th Street</a> and it is normally between $45-$65 for the whole weekend. For a list of all the nearby parking options the most up to date rates please check out <a href="http://spothero.com/search?latitude=41.873368&longitude=-87.62478999999996#facilityrates?type=daily&startdate=11-06-2015&starttime=0500PM&enddate=11-08-2015&endtime=0500PM&q=636+South+Michigan+Avenue%2C+Chicago%2C+IL+60605%2C+United+States&lat=41.873367663475115&lng=-87.62479000000002&rlat=41.873368&rlng=-87.62479&zoom=16" target="_blank">SpotHero</a>.</p>
    </div>
</div>
<div class="row theme-color-background gradient-75">
    <div class="col-sm-6 col-xs-12">
        <img src="../../Images/blackstone-hotel-floor.png" class="hotel-image" />
    </div>
    <div class="col-sm-6 col-xs-12">
        <img src="../../Images/blackstone-hotel-entrance.png" class="hotel-image" />
    </div>
</div>
