
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Home/_Template.cshtml";
}

<div class="row theme-color-background gradient-75">
    <div class="col-xs-12">
        <p>The ceremony and reception will be taking place in the Crystal Ballroom at The Blackstone. If you are not staying at the hotel and plan on driving then you will be able to valet your car at The Blackstone.</p>
        
        <p>The ceremony will be starting at 6:30PM and the cocktail hour and reception will follow.</p>

        <p>As the date of the wedding gets closer we will update this section with more detailed information.</p>
    </div>
</div>

