@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Home/_Template.cshtml";
}

@section head
{
    <link rel="stylesheet" type="text/css" href="~/Scripts/shadowbox/shadowbox.css">
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/shadowbox/shadowbox.js"></script>
    <script type="text/javascript">
        Shadowbox.init({
            slideshowDelay: 7,
            modal: false,
            continuous: true
        });

        $(document).ready(function () {
            $(".gallery-image a").each(function () {
                var imageUrl = $(this).attr("href");
                var thumbUrl = imageUrl.replace("_full.", "_thumb.");
                $(this).css("background-image", "url('" + thumbUrl + "')");
            });
        });

        //style = "background-image:url('../../Images/gallery/gallery001_thumb.jpg');"
    </script>
}


<div class="row theme-color-background gradient-75">
    <div class="col-xs-12 gallery">
        <p>Even though we met over 7 years ago in New Jersey, we have spent most of our time together in places far away from the East Coast. Our life together has taken us from Chicago all the way to Sevilla, Spain and many place in between. Below are a few snapshots from our adventures. Click on any of the pictures to see the full image.</p>
    </div>
</div>

<div class="row theme-color-background gradient-75">
    <div class="col-xs-12 gallery">
        <div class="gallery-image"><a href="../../Images/gallery/gallery025_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery024_full.jpg" rel="shadowbox[gallery]" style="background-position: -35px -0px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery023_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery022_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery035_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery034_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery033_full.jpg" rel="shadowbox[gallery]" style="background-position: -65px -100px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery007_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery006_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -10px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery003_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -10px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery002_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery001_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery028_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery020_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -20px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery019_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery018_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery032_full.jpg" rel="shadowbox[gallery]" style="background-position: -75px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery017_full.jpg" rel="shadowbox[gallery]" style="background-position: -65px -0px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery021_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery016_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -10px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery014_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        @*<div class="gallery-image"><a href="../../Images/gallery/gallery013_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -0px;"></a></div>*@
        <div class="gallery-image"><a href="../../Images/gallery/gallery026_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery031_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery030_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>
        @*<div class="gallery-image"><a href="../../Images/gallery/gallery012_full.jpg" rel="shadowbox[gallery]" style="background-position: -75px -50px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery011_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -20px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery010_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -10px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery009_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -20px;"></a></div>
        <div class="gallery-image"><a href="../../Images/gallery/gallery008_full.jpg" rel="shadowbox[gallery]" style="background-position: -55px -40px;"></a></div>*@
    </div>
</div>

