@using System.Configuration
@model SamMorganWeddingPortal.Models.GuestBookModel

@{
    ViewBag.Title = "Guest Book";
    Layout = "~/Views/Home/_Template.cshtml";
    var recaptchaSiteKey = ConfigurationManager.AppSettings["RecaptchaSiteKey"];
}

@section head
{
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<div class="row theme-color-background gradient-75">
    <div class="col-xs-12">
        @using (Html.BeginForm("PostGuestBookEntry", "Home", FormMethod.Post, new { @id = "EntryForm", onsubmit="return validateForm()" }))
        {
            @Html.EditorFor(model => model.NewEntry, "GuestBookEntryEditor")
            <div class="g-recaptcha" data-sitekey="@recaptchaSiteKey"></div>
            <text><input class="btn btn-default guest-book-submit" type="submit" value="SUBMIT" /></text>
        }
    </div>
</div>
<div class="row theme-color-background gradient-75">
    <hr/>
    <div class="col-xs-12 guest-book">
        @foreach (var entry in Model.GuestBookEntries)
        {
            @Html.Partial("_GuestBookEntry", entry)
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function validateForm(sender, args) {
            var success = true;
            $(".form-control").each(function() {
                if ($(this).val() === "") {
                    $(this).parent().addClass("has-error");
                    success = false;
                } else {
                    $(this).parent().removeClass("has-error");
                }
            });

            return success;
        }
    </script>
}
