
@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Home/_Template.cshtml";
}

<div class="row theme-color-background gradient-75">
    <div class="col-xs-12">
        <p>COMING SOON!</p>
    </div>
</div>


