@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Home/_Template.cshtml";
}

<div class="row theme-color-background gradient-75">
    <div class="col-md-4 col-sm-6 col-xs-12 text-center registry-item">
        <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542096301" target="_blank">
            <img src="~/Images/bedbathbeyond-registry-logo.gif" class="registry-image" />View Registry »
        </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center registry-item">
        <a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=6361423" target="_blank">
            <img src="~/Images/bloomingdales-registry-logo.gif" class="registry-image" />View Registry »
        </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center registry-item">
        <a href="http://www.crateandbarrel.com/gift-registry/sam-weber-and-morgan-nusbaum/r5316219" target="_blank">
            <img src="~/Images/crateandbarrel-registry-logo.gif" class="registry-image" />View Registry »
        </a>
    </div>
</div>


