<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'samandmorgan' in resource group 'StandardWebGroup' -->
  <InstrumentationKey>d754cd44-b69b-464c-8d3e-0c6228e2d2d8</InstrumentationKey>
</ApplicationInsights>