@model SamMorganWeddingPortal.Models.GuestBookEntryModel

<div class="guestbook-entry">
    <div class="message">@Model.Message</div>
    <div class="author">- @Model.Author</div>
    <div class="post-date">@Model.DatePosted.ToString("d")</div>
    <div class="clearfix"></div>
</div>